doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Control de versiones con GitHub
        
        link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css")
        link(rel="stylesheet", href="style.css")
    body
    
        h1 GitHub ensayo practico

